body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-item > a {
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-item > a:hover {
    color: black;
    transition: 2ms;
    background-color: #fff;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0;
    margin: 0;
    list-style: none; /* Remove bullets */
    min-width: 200px;
}

.dropdown-menu li {
    padding: 0;
}

.dropdown-menu a {
    color: rgb(66, 66, 66);
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #e7e7e7;
}

.nav-item:hover .dropdown-menu {
    display: block;
    left: 0; /* Align dropdown under the parent item */
}
.card:hover{
    transform:rotateX(50%);
}
